<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Shadow Tumb</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='batleStyler.css'>
</head>

<body>
    <div class="turnIndicatior"></div>
    <div id="gameContainer">
        <div id="enemySide">
            <!-- Inimigos serão exibidos aqui -->
        </div>
        <div id="playerSide">
            <!-- Personagens do jogador serão exibidos aqui -->
        </div>
    </div>
    <div class="actionContainer">
        <div class="playerAction">
            <div class="atack">atack</div>
            <div class="magic">magia</div>
            <div class="defende">defender</div>
            <div class="item">items</div>
        </div>

        <div class="actionRow" id="targetRow">
            <label for="targetSelect">Alvo:</label>
            <select id="targetSelect"></select>
        </div>

        <div id="magicOptionsPanel">
            <div class="actionRow">
                <span>Escolha um Feitiço:</span>
            </div>
            <div class="actionRow" id="spellButtons"></div>
            <div class="actionRow">
                <button class="actionButton" id="cancelMagic">Cancelar</button>
            </div>
        </div>
    </div id="combatLog">
    </div>
    <script src='main.js'></script>
</body>

</html>